<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let account of accounts" [ngClass]="{'millennium': account.name === 'MILLENIUM'}">
            <td>{{account.id}}</td>
            <td>{{account.name}}</td>
            <td *ngIf="account.name === 'PKOBP'; else myElseBlock">{{account.name}} ten bez żubra</td>
            <ng-template #myElseBlock>
                <td>{{account.name}}</td>
            </ng-template>
        </tr>
    </tbody>
</table>